.hybrid{
	background-color: red;
	text-align: right;
	width: 40%;
	padding-right: 10%;
	display: inline-block;
}

#h-results{
	background-color: red;
	float: right;
}

.normal{
	background-color: yellow;
	text-align: left;
	margin-left: 40%;
	padding-left: 10%;
	display: inline-block;
}

#n-results{
	clear: both;
	background-color: yellow;
	float: left;
}

.standard{
	background-color: green;
	margin: 0 auto;
	width: 20%;
	padding-left: 100px;
}