h1{
	text-align: center;
}

body{
	margin: 0px;
}

input{
	font-size: 20px;
	width: 150px;
	height: 30px;
	border-radius: 5px;
}

.radio{
	width: 50px;
}

.standard p{
	display: inline-block;
}

.standard img{
	width: 30px;
	height: 30px;
}

.car{
	margin-top: 0px;
	font-size: 50px;
	font-family: "Arial Black", Gadget, sans-serif;
	display: inline-block;
}

.section{
	display: inline-block;
	width: 100%;
	position: relative;
}

.vs{
  position: absolute;
  display: inline-block;
  font-size: 60px;
  color: white;
  border-radius: 100%;
  padding-top: 30px;
  margin-left: -100px;
  z-index: 10;
}

.hybrid{
	background-color: red;
	text-align: right;
	width: 40%;
	height: 100px;
	padding-right: 10%;
	padding-top: 30px;
	display: inline-block;
	margin-left: 40px;
	margin-right: 0px;
	border-top-right-radius: 2000000px;
	border-bottom-left-radius: 2000000px;
	position: relative;
	z-index: 9;
}

.normal{
	border-bottom-left-radius: 2000000px;
	border-top-right-radius: 2000000px;
	background-color: yellow;
	text-align: left;
	margin-left	: -50px;
	height: 100px;
	width: 38%;
	padding-left: 10%;
	padding-top: 30px;
	position: relative;
	display: inline-block;
}

.standard{
	font-size: 20px;
	font-weight: 600;
	border-radius: 5px;
	background-color: green;
	margin: 0 auto;
	width: 91%;
	padding-left: 100px;
	margin-bottom: 20px;
}

.hide{
	display: none;
}

.popup{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 20;
}

.blank{
	margin: 0 auto;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
}

#h-results{
	background-color: red;
	display: inline-block;
	margin-top: 20%;
	width: 200px;
	height: 200px;
}

#n-results{
	background-color: yellow;
	display: inline-block;
	width: 200px;
	height: 200px;
}

#h-results span{
	font-size: 40px;
}

button{
	margin: 20px;
	border: none;
	width: 100px;
	height: 40px;
}

.button{
	margin: 0 auto;
	text-align: center;
}