h1{
	font-family: 'Share Tech Mono';
	font-size: 60px;
	text-align: center;
	margin: 0px;
}

h2{
	font-family: 'Share Tech Mono';
	font-size: 30px;
}

body{
	margin: 0px;
}

p{
	font-family: 'Share Tech Mono';
}

.standard div{
	display: inline-block;
}

.standard p{
	display: block;
	margin-top: 10px;
}

.battle{
	display: block;
}

.standard div p{
	margin-top: 10px;
	margin-right: 10px;
}

#gas-cost, #num-miles{
	margin-right: 30px;
	float: right;
	margin-top: 15px;
}
	


#gas-cost, #num-miles,#h-initial-cost, #n-initial-cost{
	font-size: 20px;
	width: 150px;
	height: 30px;
	border-radius: 5px;
}

#h-resale, #n-resale{
	font-size: 20px;
	width: 233px;
	height: 30px;
	border-radius: 5px;
	margin-top: 5px;
}

#h-mpg, #n-mpg{
	font-size: 20px;
	width: 75px;
	height: 30px;
	border-radius: 5px;
}

.radio{
	width: 50px;
}

.standard p{
	display: inline-block;
}

.stats{
	float: left;
	margin-left: 100px;
	margin-right: 30px;
	font-size: 30px;
	margin-top: 15px;
}

.stats2{
	float: left;
	margin-left: 20px;
	margin-right: 30px;
	font-size: 30px;
	margin-top: 15px;
}

.standard img{
	width: 30px;
	height: 30px;
}

.car{
	margin-top: 0px;
	font-size: 50px;
	font-family: "Arial Black", Gadget, sans-serif;
}

#h-car{
	float: right;
}

#n-car{
	float: left;
	margin-right: 20px;
}

.section{
	display: inline-block;
	width: 100%;
	position: relative;
}

.section .hybrid div{
	text-align: left;
}

.vs{
  position: absolute;
  display: inline-block;
  font-size: 60px;
  color: white;
  border-radius: 100%;
  padding-top: 30px;
  margin-left: -100px;
  z-index: 10;
}

.hybrid{
	background-color: red;
	text-align: right;
	width: 42%;
	height: 100px;
	padding-right: 8%;
	padding-top: 30px;
	display: inline-block;
	margin-left: 40px;
	margin-right: 0px;
	border-top-right-radius: 2000000px;
	border-bottom-left-radius: 2000000px;
	position: relative;
	z-index: 9;
}

.normal{
	border-bottom-left-radius: 2000000px;
	border-top-right-radius: 2000000px;
	background-color: yellow;
	text-align: left;
	margin-left	: -50px;
	height: 100px;
	width: 42%;
	padding-left: 6%;
	padding-top: 30px;
	position: relative;
	display: inline-block;
}

.standard{
	border-top-left-radius: 2000000px;
	border-bottom-right-radius: 2000000px;
	font-size: 20px;
	font-weight: 600;
	background: linear-gradient(yellow, red);
	border: solid;
	border-top-width: 20px;
	border-color: red;
	border-top-color: yellow;
	border-left-color: yellow;
	border-right-color: yellow;
	margin: 0 auto;
	width: 89%;
	padding-left: 100px;
	margin-bottom: 20px;
}

.hide{
	display: none;
}

.popup{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 20;
}

.blank{
	margin: 0 auto;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	height: 100%;
}

#h-results{
	border-radius: 10px;
	display: inline-block;
	margin-top: 20%;
	width: 200px;
}

#n-results{
	border-radius: 10px;
	display: inline-block;
	width: 200px;
}

#h-results span, #n-results span{
	font-size: 40px;
}

button{
	margin: 20px;
	border: none;
	width: 100px;
	height: 40px;
}

button:hover{
	background-color: red;
	color: yellow;
	border: solid;
	border-color: yellow;
}

.button{
	margin: 0 auto;
	text-align: center;
}

.red-car{
	float: left;
	position: absolute;
}

.red-car img{
	max-width: 300px;
	height: auto;
}

.yellow-car{
	float: right;
}

.yellow-car img{
	max-width: 300px;
	height: auto;
}

.explosion{
	margin-left: 36%;
	width: 500px;
	margin-top: -150px;
	z-index: 19;
	position: absolute;
}

.explosion img{
	max-width: 500px;
	height: auto;
}

.h-car-fin, .n-car-fin{
	display: inline-block;
	margin-top: 20%;
}

.h-car-fin img, .n-car-fin img{
	max-width: 500px;
	height: auto;
}

#h-results img, #n-results img{
	margin-left: 55px;
	display: block;
	max-height: 100px;
	width: auto;
}